<div id="weather-menu" class="navbar navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Temperature <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="tempMode = 'C'">Celsius</a>
                        </li>
                        <li>
                            <a ng-click="tempMode = 'K'">Kelvin</a>
                        </li>
                        <li>
                            <a ng-click="tempMode = 'F'">Fahrenheit</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input id="lat" type="text" placeholder="{{weatherData.city.coord.lat | number}}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lon">Latitude</label>
                    <input id="lon" type="text" placeholder="{{weatherData.city.coord.lon | number}}" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Forcast</button>
            </form>
            -->
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="current" class="jumbotron" style="background-image: url({{getBckGndImg(0)}})">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div id="current-text" class="col-lg-4">
                <h1>{{weatherData.city.name}}, {{weatherData.city.country}}</h1>

                <h2>{{getDateString(0)}}</h2>

                <p>{{toTitleCase(weatherData.list[day].weather[0].description)}} with wind
                    {{degToCompassDir(weatherData.list[day].deg)}}@{{mpsToKph(weatherData.list[day].speed) | number:
                    1}}kph</p>

                <p>Low: {{tempMin(weatherData.list[0], tempMode) | number: 1}} &deg;{{tempMode}} High: {{tempMax(weatherData.list[0], tempMode) |
                    number: 1}} &deg;{{tempMode}}</p>

                <p>
                    Humidity: {{weatherData.list[day].humidity}}% Pressure: {{weatherData.list[day].pressure}}
                </p>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div ng-repeat="day in weatherData.list">
            <div class="col-lg-4 day">
                <h2>{{getDayName(day)}}</h2>

                <p>{{toTitleCase(day.weather[0].description)}} with wind
                    {{degToCompassDir(day.deg)}}@{{mpsToKph(day.speed) | number:
                    1}}kph</p>

                <p>Low: {{tempMin(day, tempMode) | number: 1}} &deg;{{tempMode}} High: {{tempMax(day, tempMode) |
                    number: 1}} &deg;{{tempMode}}</p>

                <p>
                    Humidity: {{day.humidity}}% Pressure: {{day.pressure}}
                </p>
            </div>
        </div>
    </div>
</div>