.stream {
    color: grey;
    text-decoration: none;
}

.stream:hover {
    color: grey;
    text-decoration: none;

}

.stream h3 {
    margin-top: 0;
    background: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.stream .col-sm-2.col-xs-4{
    text-align: center;
    height: 182px;
    width: 182px;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
}


.stream-active {
    border: solid darkgreen thick;
}

.stream-inactive {
    border: solid red thick;
}