.stream {
    text-align: center;
}

.stream > label > a {
    display: block;
    color: grey;
    text-decoration: none;
}

.stream > label > a:hover {
    color: grey;
    text-decoration: none;
}

.stream-tile > img {
    margin: 0 auto 0 auto;
    width: 100%;
    border-radius: 10%;
}

.stream-tile > i {
    position: absolute;
    top: 5%;
    right: 10%;
}

.stream-tile > h4 {
    position: absolute;
    top: 5%;
    left: 10%;
}

.stream-tile > p {
    position: absolute;
    bottom: 5%;
    left: 10%;
    font-weight: bold;
    color: goldenrod;
}

.stream-active {
    border: solid darkgreen thick;
}

.stream-inactive {
    border: solid red thick;
}