body {
    background-color: #457E86;
}

.img-story {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}

.story {
    min-height: 400px;
    max-height: 400px;
    text-align: center;
}

.headline {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}